@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    /* background-color: black; */
}

a {
    text-decoration: none;
    color: inherit;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex; 
    justify-content: center;
}

.main-header .navbar-container {
    width: 95%;
}

.app {
    width: 80%;
    margin: auto;
    padding-top: 80px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
